.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: purple;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

#title-text h4 {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 20px;
}

#title-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 80px;
}

#title-text h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

#main-button {
  background: purple;
  color: white;
  border: 2px solid purple;
  font-family: 'Fira Code', monospace;
  font-weight: 500;
}

#main-button:hover {
  background: white;
  color: black;

}

.jumbotron {
  background: white;
}

#jumping-image {
  height: 500px;
  width: auto;
}

#navbar-links a{
  font-family: 'Fira Code', monospace;
  color: #4F2F48;
}

#navbar-links a:hover {
  font-weight: 600;
  color: purple;
}

.sub-header {
  font-family: 'Fira Code', monospace;
  color: purple;
  font-size: 40px;
}

#about-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

b {
  color: purple;
  font-weight: 700;
}

ul.no_bullet {
list-style-type: none;
padding: 0;
margin: 0;
}

.bullet-icon:before {
  content: '\1F4CD';
  margin-left: -20px;
  margin-right: 10px;
}

.bullet-icon {
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}

.frame {
  box-shadow:
    20px 20px 0 -3.5px white,
    20px 20px 0 0 purple;
    
  transition: box-shadow ease-in 150ms;

  border: 2px solid #4F2F48;

  filter: hue-rotate(256deg);

}

.frame:hover {
  box-shadow:
    10px 10px 0 -5px white,
    10px 10px 0 0 purple;
    filter: opacity(1);
}

.container {
  padding: 0px;
}

.list-group {
  display: inline-block;
  border: none;

}

#job-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.card.resume {
  border: none;
  background-color: white;
}

.card-header.resume {
  border: none;
  background-color: white;
}

#job-dates {
  font-family: 'Fira Code', monospace;
  font-size: 15px;
}

.bullet-icon.resume {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.list-group button {
  border-left: 3px solid WhiteSmoke;
  border-top: none;
  border-right: none;
  border-bottom: none;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  color: grey;

}

.list-group button:hover {
  color: #ff2681;
  background-color:WhiteSmoke;

}

.active {
  color: #ff2681 !important;
  background-color: transparent !important;
  border-left: 3px solid #ff2681 !important;

}

.fa-github-alt:hover{
  color: #F1502F;
}

.fa-github-alt {
  color: purple;
}

.fa-instagram {
  color: purple;
}

.fa-instagram:hover{
  color: #e1306c;
}

.fa-linkedin {
  color: purple;
}

.fa-facebook {
  color: purple;
}

.fa-linkedin:hover{
  color: #2867B2;
}

.fa-facebook:hover{
  color: #2867B2;
}

button:focus {outline:0;}

html {
  scroll-behavior: smooth;
}