.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: purple;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

#title-text h4 {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 20px;
}

#title-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 80px;
}

#title-text h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

#main-button {
  background: purple;
  color: white;
  border: 2px solid purple;
  font-family: 'Fira Code', monospace;
  font-weight: 500;
}

#main-button:hover {
  background: white;
  color: black;

}

.jumbotron {
  background: white;
  border-top: 1px solid WhiteSmoke;
}

#jumping-image {
  height: 500px;
  width: auto;
}

#navbar-links a{
  font-family: 'Fira Code', monospace;
  color: #4F2F48;
}

#navbar-links a:hover {
  font-weight: 600;
  color: purple;
}

.sub-header {
  font-family: 'Fira Code', monospace;
  color: purple;
  font-size: 40px;
}

#about-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

b {
  color: purple;
  font-weight: 700;
}

ul.no_bullet {
list-style-type: none;
padding: 0;
margin: 0;
}

.bullet-icon:before {
  content: '\1F4CD';
  margin-left: -20px;
  margin-right: 10px;
}

.bullet-icon {
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}

.frame {
  box-shadow:
    20px 20px 0 -3.5px white,
    20px 20px 0 0 purple;
    
  transition: box-shadow ease-in 150ms;

  border: 2px solid #4F2F48;

  filter: hue-rotate(256deg);

}

.frame:hover {
  box-shadow:
    10px 10px 0 -5px white,
    10px 10px 0 0 purple;
    filter: opacity(1);
}

.container {
  padding: 0px;
}

.list-group {
  display: inline-block;
  border: none;

}

#job-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.card.resume {
  border: none;
  background-color: white;
}

.card-header.resume {
  border: none;
  background-color: white;
}

#job-dates {
  font-family: 'Fira Code', monospace;
  font-size: 15px;
}

.bullet-icon.resume {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.list-group button {
  border-left: 3px solid WhiteSmoke;
  border-top: none;
  border-right: none;
  border-bottom: none;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  color: grey;
  transition: 0.4s;

}

.list-group button:hover {
  color: #ff2681;
  background-color:WhiteSmoke;
  border-left: 3px solid grey;

}

.active {
  color: #ff2681 !important;
  background-color: transparent !important;
  border-left: 3px solid #ff2681 !important;

}

.fa-github-alt:hover{
  color: #F1502F;
}

.fa-github-alt {
  color: #330066;
}

.fa-instagram {
  color: #330066;
}

.fa-instagram:hover{
  color: #ff2681;
}

.fa-linkedin {
  color: #330066;
}

.fa-facebook {
  color: #330066;
}

.fa-linkedin:hover{
  color: #2867B2;
}

.fa-facebook:hover{
  color: #2867B2;
}

button:focus {outline:0;}

html {
  scroll-behavior: smooth;
}

.repo-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: blue;
}

.repo-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20;
}

.repo-footer {
  font-family: 'Fira Code', monospace;
  color: grey;
}

.repo-svg {
  margin-right: 0.5rem;
  min-width: 20px;
  margin-bottom: 0.5rem;
}

.card-footer {
  background-color: white;
  border-top: none;
}

.language-color {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 100%;
}

.repo-star-svg {
  margin-right: 0.3rem;
}

.repo-elem {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: rgb(106, 115, 125);
}

.card.project{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card.project:hover{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

#show-less, #show-more, #contact-me {
  background: transparent;
  color: purple;
  border: 2px solid purple;
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  padding: 1rem;
  margin-top: 2.5rem;
}

#show-less:hover, #show-more:hover, #contact-me:hover {
  background: purple;
  color: white;

}

.contact {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.sub-header.contact{
  font-size: 23px;
  font-family: 'Fira Code', monospace;
  color: purple;
}

.contact-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 50px; 
}

#footer {
  font-family: 'Fira Code', monospace;
  font-size: 13px;
}

#demo-slowed {
  background: transparent;
  color: purple;
  border: 2px solid purple;
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#demo-slowed:hover {
  background: purple;
  color: white;
}

#audio {
    width: 40rem;
    padding: 0px;
}

.card.video-body {
    height: 20rem;
    background-image: url('images/cassete.gif');
    background: cover;
    margin-left: 6vmax;
    margin-right: 6vmax;
    width: 22rem;
    display: inline-block;
}

.modal-body.audio{
    padding-bottom: 1.5vmax;
    padding-top: 1.5vmax;
}

#slowed-container {
  position: absolute;
  left: 55%;
  top: 75%;
  z-index: 10;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .video-body {
    height: 18rem;
    background-image: url('images/cassete.gif');
    background: cover;
    margin-left: 6vmax;
    margin-right: 6vmax;
    width: 16rem;
    display: inline-block;
  }

  #title-text h1{
    font-size: 50px;

  }

  #title-text h3 {
    font-size: 20px;
  }

  #main-button {
    font-size: 13px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}




